.App {
  overflow: hidden;
}

.mw {
  max-width: 1200px;
  width: calc(100% - 2rem);
  margin: auto;
}
@media (max-width: 800px) {
  .mw {
    padding-top: 90px;
  }
}

h2 {
  padding: 1rem 0;
  font-size: 1.5rem;
}

/* MainList.jsx */
.mainList {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.mainList .listCon {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

.shopAll {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.shopAll h2 {
  width: 100%;
}
.shopAll nav {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.shopAll nav button {
  background-color: goldenrod;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1rem;
  border-radius: 10px;
  color: #fff;
}
.shopAll .listCon {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

.cart th,
.cart td {
  border: 1px solid red;
  padding: 0.5rem;
  vertical-align: middle;
}
.cart th {
  text-align: center;
}
.cart .center {
  text-align: center;
}
.cart .right {
  text-align: right;
}
.cart .img {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.cart img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.cart tbody td:nth-of-type(2),
.cart tbody td:last-of-type {
  cursor: pointer;
}
.cart tbody td:last-of-type:hover i {
  color: red;
}
